<div>
  <div class="home jumbotron centered">
    <h1>Welcome to the Mc Genie Project</h1>

    if you see this page, probably you have all up and running in your local environment.
    You should have a mongodb instance running locally, and your should have the 3 servers running, one for the dbapi,
    another for the authorization/api gateway and, finally, the front end that runs on port 3000.<br><br>

    <a href="http://localhost:3000/mcgenie">See the genie</a><br>
    Please, configure an app before trying <br>
    <a href="http://localhost:3000/mcg0">run the first app</a> <br>
    <a href="http://localhost:3000/mcg1">run another app</a>


    <br> <br> <br> <br> <br> <br>
    <h2>Everything Below is our temporary backdoor during development</h2>

    <mcg-view-demo>mcg-view-demo</mcg-view-demo>

    <h2 *ng-if="jwt">Your user authentication token is:</h2>
    <pre *ng-if="jwt" class="jwt"><code>{{ jwt }}</code></pre>
    <pre *ng-if="jwt" class="jwt"><code>{{ decodedJwt | json }}</code></pre>
    <p>Click any of the buttons to call an API and get a response</p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callAnonymousApi()">Call Anonymous API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callSecuredApi()">Call Secure API</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callGetToken()">Call Get Mobicontrol API Token</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="callGetDeviceGroups()">Call Get Device Groups</a></p>
    <p><a class="btn btn-primary btn-lg" role="button" (click)="logout()">Logout</a></p>
    <h2 *ng-if="response">The response of calling the <span class="red">{{api}}</span> API is:</h2>
    <h3 *ng-if="response">{{response}}</h3>




  </div>
</div>
